<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
    stopOnFailure="false"
    colors="true">
    <testsuites>
        <testsuite name="Cointrader Test Suite">
            <directory suffix="Test.php">./tests/</directory>
            <php>
              <const name="ENDPOINT_URL" value="https://api.gdax.com"/>
              <const name="RETURN_VALUES_DIR" value="./return_values/"/>
            </php>
        </testsuite>
    </testsuites>
</phpunit>
